

.Botoes__bot{
    background-color: white;
    color: #7c4032;
    font-weight: bold;
    height: 56px;
    width: 168px;
    left: 661x;
    top: 3027px;
    display: block;
    margin-left: 14cm;
    margin-right: auto;
    border-radius: 61px;
    border: 3px solid #7c4032;   
    
}

.Botoes__input{
    background-color: #e6af99;
    height: 56px;
    width: 374px;
    left: 558px;
    top: 2957px;  
    border-radius: 61px; 
    display: block;
    margin-left: 11cm;
    margin-right: auto;
}

h2{

    text-align: center;
    width: 422px;
    height: 96px;
    left: 749px;
    top: 2671px;
   

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 96px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    color: #7c4032;
    
}

table{
    border: 3;
    width: 100%;
}




