/*Importação da fonte Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.background__servicos {
    background-color: #7c4032;
    text-align: center;
}

.Botoes__bot {
    background-color: white;
    color: #7c4032;
    font-weight: bold;
    height: 56px;
    width: 168px;
    left: 661x;
    top: 3027px;
    border-radius: 61px;
    border: 3px solid #7c4032;
}

.Botoes__bot--amarelo {
    background-color: #F3CE5E;
    font-size: 18px;
    margin-bottom: 25px;
    box-shadow: 0px 20px 40px rgba(243, 206, 94, 0.2);
}

.Botoes__input {
    background-color: #e6af99;
    height: 56px;
    width: 374px;
    left: 558px;
    top: 2957px;
    border-radius: 61px;
}

.corpo__rodape {
    text-align: center;
}

.estilo__da-pagina {
    background-image: url('../img/Fundo-1.png');
    background-repeat: repeat-y;

    font-family: 'Poppins', sans-serif;
}

h2 {
    width: 422px;
    height: 96px;
    left: 749px;
    top: 2671px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 96px;

    display: inline;
    text-align: center;
    color: #7c4032;
}

.figura {
    width: 750px;
}